<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.0">
	
	<!-- Messaging Module Properties -->
	<id>messaging</id>
	<name>Messaging Module</name>
	<version>1.0</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Dieterich Lawson</author>
	<description>
		A short messaging API for OpenMRS, including SMS, email and twitter.
	</description>
	<activator>@MODULE_PACKAGE@.MessagingModuleActivator</activator>
	
	<!-- /Messaging Module Properties -->
	
	
	<!-- Extension points -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.MessagingAdminList</class>
	</extension>
	
	<!-- Data Layer -->
	<bean parent="serviceContext">
		<property name="moduleService">
			<list>
				<value>@MODULE_PACKAGE@.MessageService</value> 
				<bean class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
					<property name="transactionManager"><ref bean="transactionManager"/></property>
					<property name="target">
						<bean class="@MODULE_PACKAGE@.impl.MessageServiceImpl">
							<property name="messageDAO">
								<bean class="@MODULE_PACKAGE@.db.hibernate.HibernateMessageDAO">
									<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
								</bean>
							</property>	
						</bean>
					</property>
					<property name="preInterceptors">
                        <ref bean="serviceInterceptors" />
					</property>
					<property name="transactionAttributeSource">
						<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean parent="serviceContext">
		<property name="moduleService">
			<list>
				<value>@MODULE_PACKAGE@.MessagingAddressService</value> 
				<bean class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
					<property name="transactionManager"><ref bean="transactionManager"/></property>
					<property name="target">
						<bean class="@MODULE_PACKAGE@.impl.MessagingAddressServiceImpl">
							<property name="messagingAddressDAO">
								<bean class="@MODULE_PACKAGE@.db.hibernate.HibernateMessagingAddressDAO">
									<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
								</bean>
							</property>	
						</bean>
					</property>
					<property name="preInterceptors">
                        <ref bean="serviceInterceptors" />
					</property>
					<property name="transactionAttributeSource">
						<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	
	<mappingFiles>
		Message.hbm.xml
		MessagingAddress.hbm.xml
	</mappingFiles>
</module>
