<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.0">
	
	<!-- Messaging Module Properties -->
	<id>messaging</id>
	<name>Messaging Module</name>
	<version>1.0</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Dieterich Lawson</author>
	<description>
		A short messaging API for OpenMRS, including SMS, email and twitter.
	</description>
	<activator>@MODULE_PACKAGE@.MessagingModuleActivator</activator>
	<!-- /Messaging Module Properties -->
	
	<mappingFiles>
		Message.hbm.xml
		MessageAddress.hbm.xml
	</mappingFiles>	
</module>
