#index{
	width:90%;
	margin-left:0px;
	margin-right:auto;
}
#compose-message-table{
	width:100%;
	font-size:1em;
}
#link-cell{
	vertical-align:top;
	width:12%;
}
#link-panel{
	text-align:right;
	margin-top:4em;
	border-top-style:solid;
	border-bottom-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
}
#link-panel a:link, #link-panel a:visited, #link-panel a:active, #link-panel a:hover{
	text-decoration:none;
	text-align:right;
	z-index:auto;
}
.panel-link{
	display:block;
	margin:1px 0px 1px 0px;
	padding:1px 10px 1px 0px;
}
#compose-message-link{
	background:#dcdcdc;
}
#compose-message-link:link, #compose-message-link:visited, #compose-message-link:active, #compose-message-link:hover {
	text-decoration:none;
	color:black;
}
#compose-message-cell{
	width:88%;
	margin:1em 1em 0em 0em;
}

#header-panel{
	border-style:solid;
	border-width:1px;
	padding: 5px;
	width:auto;
}
#header-table{
	font-size:1em;
	color:white;
}
#to-label{
	vertical-align:middle;
	margin-right:5px;
	margin-left:3px;
	font-size:1em;
}
#to-addresses{
	width:95%;
	display:inline;
	vertical-align:middle;
	font-size:13px;
}
.header-left-column{
	width:100%;
}
#subject{
	width:95%;
}
#compose-message-table .yui-toolbar-titlebar {
 	display: none;
}
#buttons-container{
	width:auto;
	border-color:black;
}